# =============================
# Custom ignore for Data Science
# =============================

# Data (raw, processed, large files)
data/*
!data/.gitkeep

datasets/
raw_data/
processed_data/
*.csv
*.tsv
*.xlsx
*.xls
*.json
*.zip
*.rar
*.7z
*.parquet
*.data

# Model files
models/*
!models/.gitkeep

*.h5
*.hdf5
*.pt
*.pth
*.pkl
*.pickle
*.joblib
*.onnx

# Notebook outputs
.ipynb_checkpoints/
*.nbconvert.ipynb

# Cache & temp
tmp/
temp/
logs/
*.log

# Colab
*.ipynb_checkpoints

# Allow folder structure only
!images/.gitkeep
